{% extends 'base.html.twig' %}

  {% block lastTest %}

      <!-- item template -->
      <script type="text/x-template" id="item-template">
          <li>
              <div

                      @click="toggle"
                      @dblclick="changeType"
                      >
{% verbatim %}<div> {{ model.name }} {{this.indexComp}}
{{model.idx}}
</div>
{% endverbatim %}
                  <span v-if="isFolder">[{% verbatim %} {{ open ? '-' : '+' }}{% endverbatim %} ]</span>
              </div>
              <ul v-show="open" v-if="isFolder">
                  <item
                          class="item"

                          v-for="(model, index) in model.children"
                          :key="index"
                          :model="model"
                         >
                  </item>
                  <li class="add" @click="addChild">+</li>
              </ul>
          </li>
      </script>

      <p>(You can double click on an item to turn it into a folder.)</p>

      <!-- the demo root element -->
        <ul id="demo">
          <item
                  class="item"

                  :model="treeData"
          >
          </item>
      </ul>




      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src={{ asset('JS/Tests.js') }}></script>












  {% endblock %}